In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/aircraft/faa_ai_prelim.csv

In [4]:
df =   pd.read_csv('/kaggle/input/aircraft/faa_ai_prelim.csv')

In [5]:
df.head(2)

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(83, 42)

In [7]:
df.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [14]:
df1 = df[['LOC_STATE_NAME','RMK_TEXT','EVENT_TYPE_DESC','ACFT_MAKE_NAME','ACFT_MODEL_NAME',
           'FLT_PHASE','FATAL_FLAG']]

In [15]:
type(df1)

pandas.core.frame.DataFrame

In [17]:
df1['FATAL_FLAG'].fillna(value='no', inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [18]:
df1.head(3)

,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC,ACFT_MAKE_NAME,ACFT_MODEL_NAME,FLT_PHASE,FATAL_FLAG
0,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,BEECH,36,UNKNOWN (UNK),Yes
1,Florida,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,VANS,RV7,LANDING (LDG),no
2,New Jersey,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,CESSNA,172,APPROACH (APR),no

In [19]:
df1.shape

(83, 7)

In [22]:
df_final = df1.dropna(subset=['ACFT_MAKE_NAME'])

In [24]:
aircraft_Type = df_final.groupby('ACFT_MAKE_NAME')

In [25]:
aircraft_Type.size()

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

In [31]:
#group the dataset by flag 
fatalAccidents = df_final.groupby('FATAL_FLAG')

In [37]:
fatalAccidents.size()

FATAL_FLAG
Yes     7
no     71
dtype: int64

In [32]:
accidents_with_Fatality = fatalAccidents.get_group('Yes')

In [36]:
accidents_with_Fatality.head(3)

,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC,ACFT_MAKE_NAME,ACFT_MODEL_NAME,FLT_PHASE,FATAL_FLAG
0,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,BEECH,36,UNKNOWN (UNK),Yes
53,Florida,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,Accident,PIPER,PA28,UNKNOWN (UNK),Yes
55,California,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,Accident,FLIGHT DESIGN,CTLS,UNKNOWN (UNK),Yes